.textfield {
    margin: 24px 0;
}

.textfield label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.textfield input {
    width: 100%;
    background-color: #FFFFFF;
    color: #AFAFAF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}